@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/barlow-semi-condensed-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
   font-family: 'Barlow Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
    background-color: hsl(260, 100%, 95%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 8rem;
    font-family: 'Barlow Semi Condensed';
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 75%;
    flex-shrink: 0;
}

.mini-container {
    display: flex;
    gap: 2rem;
}

.mini {                                       /* mini is for blue box */
    background-color: hsl(263, 55%, 52%);
    color: white;
    background-image: url("images/bg-pattern-quotation.svg") ;
    background-repeat: no-repeat;
    background-position: top 0 left 370px;
    border-radius: 10px;
    box-shadow: 10px 5px 115px 0px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.name {
    display: flex;
    align-items: center;
}

img {
    height: 2rem;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 81%);
    margin-right: 1rem;
}

.h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    font-size: 13px;
}

h3 {
    margin: 0;
}

.mini2 {
     background-color: hsl(217, 19%, 35%);
    color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 115px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
}

.mini3 {
     background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 115px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
}

.mini4 {
    background-color: hsl(219, 29%, 14%);
    color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 115px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
}



.mini-container2 {
    display: flex;
    gap: 2rem;
}




.mini5 {
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 115px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
}


.attribution {
  background-color: hsl(0, 85%, 28%);
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  transition: transform 0.2s ease;
  box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.877);
  
}

.attribution:hover {
    transform: scale(1.2);
}

.attribution a {
  color: hsl(25, 97%, 53%);
  font-weight: 600;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
    }

   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   
   .mini-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .mini-container2 {
    display: flex;
    flex-direction: column;
   }
    
}
